
body {
    background: radial-gradient(#dbffe1, #fff) fixed;
    color: #0e2805;
  }
  h1{
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
    font-family: cursive;
    color: #654906;
  }
  h2{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    font-family: monospace;
    color: #9c9587;
  }
  p {
    color: #75736e;
    font-size: larger;
    margin-top: 18px;
    margin-left: 18px;}

  header {
    background: #c3f3cb;
    width: 100%;
    padding: 17px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
 
  h3 {
    font-size: x-large;
    color: #7f5b5b;
    text-align: center;
    margin-top: 57px;
    font-weight: 700;
    font-family: cursive;
    background: antiquewhite;
    padding: 12px;}

  #results{
    font-family: cursive;
    margin-left: 21px;
    margin-top: 24px;
    color: #6d796f;
  }
  main > *{
    float:left;
  }
  
  
  main ul, main li {
    padding: 0;
    margin: 10px 0;
  }
  
  aside{ 
    padding-left: 30px;
  }
  #goat-clicks {
    padding: 26px 9px 0 0;
    font-size: 20px;
    line-height: 1.4;
  }
  
  img {
    max-height: 300px;
    max-width: 100%;
    margin: 0 auto;
    cursor: pointer;
  }
  #all_pic {
    text-align: center;
  }
  div{
      display: inline;
  }
   img {
    height: 252px;
    border: 1px solid #fefffe;
    box-shadow: 2px 0 12px #043817;
    display: inline-block;
    width: 284px;
    padding: 4px 7px;
    margin: 20px 16px;

  }

  canvas#myObject{
    display: block;
    height: 500px !important;
    width: 800px !important ;
} 
  
  body footer {
    background: #18ad3155;
    clear: both;
    text-align: center;
    padding: 24px 0;
    color: #0e2805;
    font-family: cursive;
  }
  /* element.style {
    display: block;
    width: 501px;
    height: 501px;
} */
.chartjs-render-monitor {
    animation: chartjs-render-animation 1ms;
}
canvas#myObject{
    display: block;
    height: 500px !important;
    width: 800px !important ;
} 
